@using Hermes.WebFrontend.Client.Components.Auth
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/swiss-tokens.css"]" />
    <link rel="stylesheet" href="@Assets["css/swiss-hermes.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["css/hermes-app-pages.css"]" />
    <link rel="stylesheet" href="@Assets["Hermes.WebFrontend.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <GlobalAuthGuard @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: false))" />
    <script src="_content/Hermes.WebFrontend.Client/hermes-auth.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
